<div class="card blogCard">
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="{{imageSource}}" alt="{{imageDescription}}">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-conent">
                <p class="title is-4">{{blog_title}}</p>
            </div>
        </div>
        <div class="content">
            {{blog_description}}
            <br />
            <footer class="card-footer">
                <a href="'../single-post.html" class="card-footer-item">Read Blog</a>
            </footer>
        </div>
    </div>
</div>
