<section class="whole-page">
      <div class="container is-fluid">
        <div class="columns is-desktop">
          <div class="column is-narrow">
            <!-- <nav class = "navbar">
              <div class="navbar-brand"> -->
                       <!-- <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a> -->
              <!-- </div>
            </nav> -->
            <br />
            <!-- <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search Blog.."
              />
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div> -->
          </div>
          <!-- </section> -->
          <!-- </div> -->

          <!-- CARDS AREA ON RIGHT -->
          <!-- <section class = "card-section"> -->
          <div class="container is-fluid">
            <div class="column is-12">
              <div class="columns is-multiline">

          <!-- CARD 1 -->
              <div class="column is-one-third">
                <div class="card blogCard">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img
                        src="https://images.unsplash.com/photo-1500759285222-a95626b934cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                        alt="Placeholder image"
                      />
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-content">
                        <p class="title is-4">Cruising into Cuba</p>
                        <p class="subtitle is-6">@alesmonde0</p>
                      </div>
                    </div>

                    <div class="content">
                      Cuba has so much culture, beautiful architecture, and sights galore. 
                      <br />
                      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                      <footer class="card-footer">
                        <a href="./single-post.html" class="card-footer-item">Read Blog</a>
                      </footer>
                    </div>
                  </div>
                </div>
              </div>

              <!-- CARD 2 -->
              <div class="column is-one-third">
                <div class="card blogCard">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img
                        src="https://images.unsplash.com/photo-1605216663980-b7ca6e9f2451?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=807&q=80"
                        alt="Placeholder image"
                      />
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-content">
                        <p class="title is-4">More Fun in Mexico</p>
                        <p class="subtitle is-6">@jwilloughway1</p>
                      </div>
                    </div>

                    <div class="content">
                      The fun never stopped! From beaches, boating, food...it was Awesome! 
                      <br />
                      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                      <footer class="card-footer">
                        <a href="./single-post.html" class="card-footer-item">Read Blog</a>
                      </footer>
                    </div>
                  </div>
                </div>
              </div>

              <!-- CARD 3 -->
              <div class="column is-one-third">
                <div class="card blogCard">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img
                        src="https://images.unsplash.com/photo-1605701877331-645ad05dcb97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80"
                        alt="Placeholder image"
                      />
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-content">
                        <p class="title is-4">Passion in Paris</p>
                        <p class="subtitle is-6">@dstanmer3</p>
                      </div>
                    </div>

                    <div class="content">
                      Paris made me feel alive and passionate about so much. 
                      <br />
                      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                      <footer class="card-footer">
                        <a href="./single-post.html" class="card-footer-item">Read Blog</a>
                      </footer>
                    </div>
                  </div>
                </div>
              </div>
 <!-- CARD 4 -->
 <div class="column is-one-third">
  <div class="card blogCard">
    <div class="card-image">
      <figure class="image is-4by3">
        <img
          src="https://bulma.io/images/placeholders/1280x960.png"
          alt="Placeholder image"
        />
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">John Smith</p>
          <p class="subtitle is-6">@johnsmith</p>
        </div>
      </div>

      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus nec iaculis mauris. 
        <br />
        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        <footer class="card-footer">
          <a href="./single-post.html" class="card-footer-item">Read Blog</a>
        </footer>
      </div>
    </div>
  </div>
</div>

<!-- CARD 5 -->
<div class="column is-one-third">
  <div class="card blogCard">
    <div class="card-image">
      <figure class="image is-4by3">
        <img
          src="https://bulma.io/images/placeholders/1280x960.png"
          alt="Placeholder image"
        />
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">John Smith</p>
          <p class="subtitle is-6">@johnsmith</p>
        </div>
      </div>

      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus nec iaculis mauris. 
        <br />
        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        <footer class="card-footer">
          <a href="./single-post.html" class="card-footer-item">Read Blog</a>
        </footer>
      </div>
    </div>
  </div>
</div>

<!-- CARD 6 -->
<div class="column is-one-third">
  <div class="card blogCard">
    <div class="card-image">
      <figure class="image is-4by3">
        <img
          src="https://bulma.io/images/placeholders/1280x960.png"
          alt="Placeholder image"
        />
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">John Smith</p>
          <p class="subtitle is-6">@johnsmith</p>
        </div>
      </div>

      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus nec iaculis mauris. 
        <br />
        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        <footer class="card-footer">
          <a href="./single-post.html" class="card-footer-item">Read Blog</a>
        </footer>
      </div>
    </div>
  </div>
</div>

            </div>
            <!-- END CARD CONTAINER -->
          </div>
        </div>
        <!-- END COLUMNS-->
      </div>
    </section>