    <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>weTravel</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"/>
      <link rel = "stylesheet" href="../public/stylesheets/style.css">
  </head>

  <body>
    <section class="hero is-small">
      <div class="hero-body">
        <h1 class="title is-1 heroTitle">weTravel</h1>
        <h2 class="subtitle is-4 heroTitle2">
          Blogs from travelers around the world
        </h2>
      </div>
    </section>
    
    <div class="container is-fluid blogContainer">
      <div class = "columns">
        <div class = "column is-three-fifths is-offset-one-fifth">
          <article class="message">
            <div class="message-header">
              <p>
                {{blog_title}}
              </p>
        
            </div>
            <div class="message-body">
              <p>
                  {{blog_body}}
              </p>
            </div>
          </article>
    
            <div class="field">
              <label class="label">Comment</label>
                <div class="control">
                  <textarea class="textarea comment-form" rows = "4" placeholder="Comment here"></textarea>
                </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <input class="button" type="submit" value="Submit"></input>
              </div>
              <div class="control">
                <a class="button is-link" href = "index.html">Go Back</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>