<div class="container is-fluid blogContainer">
  <div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
      <article class="message">
        <div class="message-header">
          <p>
            {{post.title}}
          </p>

        </div>
        <div class="message-body">
          <p>
            {{post.blog_body}}
          </p>
        </div>
      </article>
      <form class="comment-form">
        <div class="field">
          <label class="label">Comment</label>
          <div class="control">
            <input class="input" id="comment-body" type="text" rows="4" placeholder="Comment Here...">
          </div>

        </div>
        <div class="field is-grouped">

          <div class="control">
            <input class="button comment-form" type="submit" value="Submit"></input>
          </div>
      </form>
      <div class="control">
        <a class="button" href="/">Go Back</a>
      </div>
        </div>
      </div>
      </div>
    </div>


<script src="/javascript/comment.js"></script>
