    <div class="container is-fluid blogContainer">
      <div class = "columns">
        <div class = "column is-three-fifths is-offset-one-fifth">
          <article class="message">
            <div class="message-header">
              <p>
                {{blog_title}}
              </p>
        
            </div>
            <div class="message-body">
              <p>
                  {{blog_body}}
              </p>
            </div>
          </article>
    
            <div class="field">
              <label class="label">Comment</label>
                <div class="control">
                  <textarea class="textarea comment-form" rows = "4" placeholder="Comment here"></textarea>
                </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <input class="button" type="submit" value="Submit"></input>
              </div>
              <div class="control">
                <a class="button is-link" href = "index.html">Go Back</a>
              </div>
            </div>
        </div>
      </div>
    </div>