

.hero-body{
    text-align: center;
    background-color: greenyellow;
}
.heroTitle {
    color: darkolivegreen;
}
.heroTitle2 {
    color:darkolivegreen;
    
}

.card {
    margin-top: 20px;
    
}

card-radius {
    size: 0.15rem
}

.card-footer a {
    background-color: greenyellow;
    font-size: large;
    font-weight: bold;
    color: darkolivegreen;
}