

.hero-body{
    text-align: center;
    background-color: gold;
}
.heroTitle {
    color: darkolivegreen;
}
.heroTitle2 {
    color:darkolivegreen;
    
}


/* card-radius {
    size: 0.15rem
} */

.blogCard {
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px darkolivegreen;
    
}
.card-footer a {
    background-color: gold;
    font-size: large;
    font-weight: bold;
    color: darkolivegreen;
    border-radius: 10px;
    box-shadow: 0 0 7px darkolivegreen;
}

.whole-page {
    background-color: lightgoldenrodyellow;
}

.content {
    text-align: center;
}

.media {
    text-align: center;
}

.btnText {
    background-color: gold;
    color: darkolivegreen;
    border-radius: 10px;
    border-color: darkolivegreen;
    box-shadow: 0 0 7px darkolivegreen;
   
}

.btnText:hover {
    background-color: lightgoldenrodyellow;
    color: darkolivegreen;
    border-color: darkolivegreen;
    box-shadow: 0 0 10px darkolivegreen;
} 
.createBtn {
    text-align-last: center;
    padding: 10px;
}
.sidebar li {
    padding: 5px;
    text-align: center;
}
.sidebar {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}

.input-group {
    text-align-last: center;

}

.message{
    box-shadow: 0 0 15px darkolivegreen;
}
.message-header {
    background-color: gold;
    color: darkolivegreen;
}

.message-body{
    background-color: darkolivegreen;
    color: lightgoldenrodyellow;
    font-size: large;
}

.blogContainer {
    background-color: lightgoldenrodyellow;
    padding-top: 20px;
}

.createContainer{
    background-color: lightgoldenrodyellow;
    
}