<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>weTravel</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"/>
      <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <style>


  </style>

<body>
      <section class="hero is-small">
      <div class="hero-body">
        <img
          src="https://i.imgur.com/XOqnGTY.png"
          alt="weTravel logo"
        />
        
        <h2 class="subtitle is-4 heroTitle2">
          Blogs from travelers around the world
        </h2>
      </div>
    </section>

     <!-- MAIN CONTAINER -->
    <section class="whole-page">
      <div class="container is-fluid">
        <div class="columns is-desktop">

 <div class="column is-narrow">
   <section>
       {{#if loggedIn}}
       <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/Dashboard">View My Blogs</a>
            <a href="#">Create A Blog</a>
            <button id="logout" class="btn-no-style">logout</button>
        </div>
        {{else}}
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/login">Login</a>
        </div>
        {{/if}}
        <span class="menu" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
        <script>
          function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
          }

          function closeNav() {
              document.getElementById("mySidenav").style.width = "0";
          }
        </script>
   </section> 
 </div>

{{!-- CARD AREA --}}
{{!-- <div class="wrapper"> --}}
   <div class="container is-fluid">
    <div class="column is-12">
        <div class="columns is-multiline">

    <main>
      {{{ body }}}
    </main>
          </div>
        </div>
    </div>
{{!-- </div> --}}
    <footer class="container-fluid">
      <p>Travel Well!</p>
    </footer>
            </div>
        </div>
    </div>
</section>
    {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
    
</body>

</html>